body {
    font-family: "Trebuchet MS";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #9ac8e3;
}

header {
    border-style: double ;
    border-radius: 100px;
    background-color: #5b9aa0;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    margin: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

footer {
    background-color: #5b9aa0;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-style: double;
    border-radius: 100px;
    box-sizing: border-box;
}

footer>p>a {
    color : white;
    text-decoration: none;
    border-style: dot-dot-dash;
    border-radius: 50px;
    padding: 1% 10%;
    background-color: #9ac8e3;
}

footer>p>a:hover{
    background-color: black;
}

/* Styles pour les barres de progression */
/* Styles pour les barres de progression */
.progress {
    height: 20px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden; /* Pour masquer la partie dépassant de la barre */
}

.progress-bar {
    width: 100%; /* Largeur par défaut à 100% */
    height: 100%;
    background-color: #5b9aa0; /* Couleur de remplissage de la barre de progression */
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 10px;
    transition: width 0.3s;
    margin-right: 50%;
}



/* Au survol, la barre de progression continue l'animation */
.progress-bar:hover {
    animation: none; /* Désactive l'animation par défaut */
    width: 100%; /* Largeur à 100% au survol */
}

/* Styles pour les panneaux éducatifs */
.education-panels {
    display: flex;
    overflow: hidden;
}

.education-panel {
    flex: 0 0 100%;
    display: none;
    padding: 20px;
    background-color: #f7f7f7;
}

.education-panel.current {
    display: block;
}

/* Styles pour les boutons de navigation */
.navigation {
    text-align: center;
    margin-top: 20px;
}

button {
    background-color: #5b9aa0;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
}

button:hover {
    background-color: #005d8b;
}


