/* Reset des marges et paddings pour assurer une base propre */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 20px;
    padding-bottom: 0%;
}

h1 {
    font-size: 2em;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

nav {
    background-color: #2980b9;
    overflow: hidden;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}

/* Styles pour le menu hamburger */
@media only screen and (max-width: 600px) {
    nav ul {
        display: none;
        position: absolute;
        top: 60px; /* Ajuste la valeur en fonction de la hauteur de ton header */
        right: 0;
        width: 100%;
        text-align: center;
        background-color: #2980b9;
    }

    nav ul.show {
        display: flex;
        flex-direction: column;
    }

    nav li {
        display: block;
        margin: 0;
        padding: 10px 0;
    }

    .menu-icon {
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 1000;
    }

    /* Style amélioré pour le bouton mobile */
    .mobile-nav-button {
        display: block; /* Afficher le bouton uniquement sur les écrans plus petits */
        position: fixed;
        top: 20px;
        right: 20px;
        background-color: #3498db;
        color: white;
        padding: 15px 20px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        z-index: 1000;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    footer {
        display: none;
    }
}

/* Styles pour les écrans plus larges (ordinateurs, tablettes, etc.) */
@media only screen and (min-width: 601px) {
    nav ul {
        display: flex;
        justify-content: flex-end; /* Ajuste cette propriété pour positionner correctement la liste */
    }

    nav li {
        display: inline;
        margin-right: 20px;
    }

    .menu-icon {
        display: none;
    }

    /* Masquer le bouton "Autres Pages" sur les écrans plus larges */
    .mobile-nav-button {
        display: none;
    }
}



/* Styles pour les écrans plus larges (ordinateurs, tablettes, etc.) */
@media only screen and (min-width: 601px) {
    nav ul {
        display: flex;
        justify-content: space-around;
    }

    nav li {
        display: inline;
        margin-right: 20px;
    }

    .menu-icon {
        display: none;
    }
}

/* Styles pour le reste du contenu */
/* Ajoute ici le style CSS pour le contenu principal de ta page */



footer {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.formation.active {
    display: block;
    text-align: center;
}

.formation {
    display: none;
    text-align: center;
}

.center {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.arrow-left, .arrow-right {
    text-align: center;
}

.social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.social-icons li {
    margin-right: 10px; /* Ajuste l'espacement entre les icônes */
}
